/* header {
  padding: 0.7rem;
} */

.header {
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.completed {
  color: black;
  font-weight: 1rem;
}
.control_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}
.form {
  margin: 1.5rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form label {
  align-self: start;
  padding: 0 1rem;
}

.textInput input {
  margin: 0.5rem 0;
  width: 90%;
  height: 35px;
  font-size: 1rem;
  border-radius: 9px;
}
.container header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 3rem;
  color: black;
}
.container {
  background-color: white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  width: 100%;
  padding: 0;
  clear: both;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .form label {
    align-self: start;
    padding: 0 3rem;
  }

  .container header {
    padding: 1rem 4rem;
    margin: 1 5rem;
    font-size: 2rem;
  }

  .header {
    margin-right: 17rem;
  }
  .header label {
    font-weight: 7rem;
  }
}
