.submit {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 3.3rem;
}
.submitButton {
  padding: 1rem;
  grid-column: 1;
  height: 50px;
  background-color: rgb(44, 42, 42);
  color: white;
  border-radius: 9px;
  justify-items: center;
  font-size: 1rem;
}

.deleteButton {
  padding: 1rem;
  grid-column: 2;
  border: none;
  background-color: transparent;
}
