.container {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerChild {
  width: 100%;
  overflow-y: scroll;
  height: 90vh;
  padding-top: 5%;
  border-radius: 8px;
}

.header {
  color: black;
  font-size: 2rem;
}
.whatsHappening {
  color: #696969;
  font-size: 2remrem;
  font-weight: bolder;
}

.noTask {
  color: black;
}
