.main {
  color: black;
  width: 100%;
  padding: 0;
  clear: both;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;

  border-radius: 15px 15px 0 0;
}

.addButton {
  position: absolute;
  bottom: 70%;
  align-self: center;
}

.navigation {
  background-color: white;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 50px hsla(0, 1%, 85%, 0.314);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background-color: transparent;
  stroke-opacity: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  background-color: transparent;
}
