.container {
  background-color: none;
}

@media screen and (min-width: 640px) {
  .container {
    width: 100vw;
    height: 100vh;
    padding: 1%;
    display: flex;
    margin-left: 4rem;
  }

  .calendar {
    width: 65%;
  }

  .task {
    width: 35%;
  }
}
