.login {
    padding: 0.3rem 3rem;
}

.box {
    max-width: 32rem;
    width: 75%;
    height: 55vh;
    max-height: 35rem;
    padding: 15px 10px;
    margin: auto;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 8px;
}

.box form {
    display: flex;
    justify-content: center;
}

.form {
    height: 100%;
    width: 100%;
}

.box p {
    font-size: .75rem;
    color: black;
    
}

.box button {
    padding: 2.5%;
    border-radius: 8px;
    border: 1px solid #c78b8c;
    width: 100%;
    background-color: #c78b8c;
    font-weight: bold;
    color: white;
}


.box button:hover {
    padding: 2.5%;
    border-radius: 8px;
    border: 1px solid pink;
    background-color: pink;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.username input,
.username label,
.password input,
.password label {
    display: block;
    margin: auto;
}

.username input,
.password input {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2.5%;
    width: 100%;
}

.username input:focus,
.password input:focus {
    outline: none;
    border: 1px solid maroon;
    border-radius: 10px;
}

.username label,
.password label {
    color: black;
    font-weight: bold;
    color: #c78b8c
}

.username,
.password,
.loginBtn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5%;
    width: 100%;
}


@media screen and (min-width: 640px) {
    .box {
        width: 50%;
        margin: auto;
    }
    
}