.header {
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 2.5rem 1rem 2.5rem;
}
.topCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardHeader {
  color: black;
  font-size: 1.5rem;
  margin: 1rem;
}
.cardSpan {
  color: rgb(112, 107, 107);
  font-size: 1rem;
}
.goals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-top: 1.5rem;
}
.active,
.nearlyDone,
.completed {
  color: rgb(112, 107, 107);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active p,
.nearlyDone p,
.completed p {
  color: black;
  font-size: 1.1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
