h1 {
  color: rgb(63, 58, 58);
  font-family: "Lato", sans-serif;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goal {
  border-radius: 8px;
}
/* @media only screen and (min-width: 768px) {
  .header {
    width: 100vh;
  }
} */
