.container header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 3rem;
  color: black;
}
.container {
  background-color: white;
  border-radius: 20px 20px 0 0;
  position: absolute;
  width: 100%;
  padding: 0;
  clear: both;
  bottom: 0;
}
